@import "./fonts.less";

html { width: 100%; height: 100%; }

body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #1a2534;
  overflow: hidden;
  margin: 0;
  font-family: "Libre Franklin", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  font-size: 1.125em;
  line-height: 1.55556;
  font-weight: initial;
}

.disable-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

a {
  color: #2e81e8;
}

h3 {
  font-size: 18px;
}

figure {
  margin: 0;
}


.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.slide-in {
  animation: slide-in 0.3s forwards;
  -webkit-animation: slide-in 0.3s forwards;
}

@keyframes slide-in {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0%); }
}

.fade-in {
  animation: fade-in 1.2s;
  -webkit-animation: fade-in 1.2s;
}

@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

#app {
  display: flex;
  box-sizing: border-box;
  height: 100%;
}

.letters {
  width: 120px;
  height: 100%;
  min-width: 120px;
  background-color: #fafbfc;
  border-right: 1px solid #d9dbe5;
  padding: 2.5rem 1rem;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .letters-container {
    .disable-scrollbar();
    overflow-y: scroll;
    height: 100%;
    box-sizing: border-box;
  }

  .letter {
    color: #1a2534;
    padding: .4rem 1rem;
    margin: .15rem 0;
    border-radius: 2rem;
    text-align: center;
    cursor: pointer;
    transition: .2s;

    &:hover, &.is-active {
      color: #fff;
      background-color: #2e81e8;
    }
  }

  .logo {
    display: block;
    text-align: center;
    margin-bottom: 2rem;

    img {
      width: 48px;
      height: auto;
    }
  }
}

.posts {
  width: 330px;
  min-width: 330px;
  background-color: #fff;
  box-shadow: 2px 0 5px 0 #d9dbe5;
  padding: 0 2rem;
  box-sizing: border-box;
  overflow-y: scroll;
  .disable-scrollbar();

  .big-letter-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;

    img.big-letter {
      width: auto;
      height: 124px;
      margin-bottom: 5px;
      .slide-in();
    }
  }

  .post {
    color: #1a2534;
    padding: .6rem 0;
    transition: .2s;
    cursor: pointer;
    font-weight: initial;
    .slide-in();

    &:hover {
      color: #2e81e8;
    }
  }
}

h1 {
  font-weight: initial;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  flex: 1;

  .navbar {
    padding: 15px 0;
    box-sizing: border-box;
    height: 64px;
    min-height: 64px;
    text-align: right;
    background: white;
    z-index: 1;

    .navbar-link {
      color: #434862;
      text-decoration: none;
      margin-left: 20px;

      &:hover, &:focus, &:active {
        color: #2e81e8;
      }
    }

    .logo {
      display: none;
    }
  }

  .header-image {
    background: url(../img/view.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 140px;
    min-height: 140px;
    border-radius: 3px;
  }

  .term-header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    h1 {
      font-size: 24px;
      font-weight: bold;
      margin-top: 0;
    }
  }

  .container {
    flex: 1;
    padding-top: 1rem;
    overflow-y: scroll;
    .disable-scrollbar();

    .ghost-content > * > * {
      .fade-in();
    }
  }
}

.welcome-screen {
  background-image: url(../img/welcome.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: bottom;
  box-sizing: border-box;
  padding: 4rem 0 0 2rem;

  h1 {
    margin-top: 0;
    font-weight: bold;
    font-size: 2.7em;
  }

  h3 {
    font-weight: normal;
  }
}

.social-button {
  width: 32px;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #d9dbe5;
  text-align: center;
  display: inline-block;
  margin-left: 10px;
  transition: .2s;

  &:hover {
    border: 1px solid #2e81e8;
    cursor: pointer;
  }

  img {
    height: 18px;
    margin-top: 7px;
  }
}

// Mobile
@media screen and (max-width: 720px) {
  .letters {
    width: 54px;
    min-width: 54px;
    padding: 1rem 0;

    .letter {
      padding: 0.4rem 0;
    }

    .logo {
      margin-bottom: 1rem;

      > img {
        width: 32px;
      }
    }
  }

  .posts {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    z-index: 100000;

    .big-letter-container {
      margin-top: 0;
    }
  }

  .content {
    padding: 0;

    .navbar {
      display: none;
    }

    .header-image {
      display: none;
    }

    .container {
      padding: 1rem;

      .term-header-container {
        flex-direction: column;

        .social-button:first-child {
          margin-left: 0;
        }
      }
    }
  }

  .welcome-screen {
    margin-left: 0;
    padding: 2rem 1rem;

    h3 {
      display: none;
    }
  }
}
